@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;

.container {
  display: flex;
  padding: 10rem 20rem;

  @media screen and (max-width: 1400px) {
    padding: 10rem 10rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    flex-direction: column;
    padding: 10rem 5rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .about {
    flex: 1;
    font-family: fct.map-deep-get(var.$about, "fontFamily", "title");
    font-size: fct.map-deep-get(var.$about, "fontSize", "title--desktop");
    font-weight: fct.map-deep-get(var.$about, "fontWeight", "title");

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: fct.map-deep-get(var.$about, "fontSize", "title--tablet");
      padding-bottom: 2rem;
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      text-align: center;
      font-size: fct.map-deep-get(var.$about, "fontSize", "title--mobile");
      padding-bottom: 3rem;
    }
  }

  .presentation {
    flex: 1;
    font-family: fct.map-deep-get(var.$about, "fontFamily", "presentation");
    font-size: fct.map-deep-get(
      var.$about,
      "fontSize",
      "presentation--desktop"
    );
    border-radius: var.$radius--5;
    padding: 4rem 2rem;

    & p {
      max-width: 95%;
      margin: auto;

      @media screen and (max-width: var.$breakpoint-tablette) {
        margin: 0;
        max-width: 100%;
        font-size: fct.map-deep-get(
          var.$about,
          "fontSize",
          "presentation--tablet"
        );
      }

      @media screen and (max-width: var.$breakpoint-mobile) {
        text-align: center;
        font-size: fct.map-deep-get(
          var.$about,
          "fontSize",
          "presentation--mobile"
        );
      }
    }
  }

  &--dark {
    background-color: fct.map-deep-get(
      var.$about--dark,
      "colors",
      "container--bg"
    );

    .about {
      color: fct.map-deep-get(var.$about--dark, "colors", "about");
    }

    .presentation {
      & p {
        color: fct.map-deep-get(var.$about--dark, "colors", "presentation");
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
      }
    }
  }

  &--light {
    background-color: fct.map-deep-get(
      var.$about--light,
      "colors",
      "container--bg"
    );

    .about {
      color: fct.map-deep-get(var.$about--light, "colors", "about");
    }

    .presentation {
      & p {
        color: fct.map-deep-get(var.$about--light, "colors", "presentation");
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
      }
    }
  }
}
