@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;

.container {
  display: flex;
  padding: 10rem 20rem;

  @media screen and (max-width: 1400px) {
    padding: 10rem 10rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    flex-direction: column;
    padding: 10rem 5rem;
  }

  .about {
    flex: 1;
    font-family: fct.map-deep-get(var.$about, "fontFamily", "about");
    font-size: fct.map-deep-get(var.$about, "fontSize", "about--desktop");
    font-weight: fct.map-deep-get(var.$about, "fontWeight", "about");

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: fct.map-deep-get(var.$about, "fontSize", "about--tablet");
      padding-bottom: 2rem;
    }
  }

  .presentation {
    flex: 1;
    font-family: fct.map-deep-get(var.$about, "fontFamily", "presentation");
    font-size: fct.map-deep-get(var.$about, "fontSize", "presentation");
    border-radius: var.$radius--5;
    padding: 4rem 2rem;

    & p {
      max-width: 95%;
      margin: auto;

      @media screen and (max-width: var.$breakpoint-tablette) {
        margin: 0;
        max-width: 100%;
      }

      &:nth-child(1) {
        padding: 1rem 0;
      }
    }
  }

  &--dark {
    background-color: fct.map-deep-get(
      var.$about--dark,
      "colors",
      "container--bg"
    );

    .about {
      color: fct.map-deep-get(var.$about--dark, "colors", "about");
    }

    .presentation {
      color: fct.map-deep-get(var.$about--dark, "colors", "presentation");
      background-color: fct.map-deep-get(
        var.$about--dark,
        "colors",
        "presentation--bg"
      );
      border: 0.1rem solid
        fct.map-deep-get(var.$about--dark, "colors", "presentation--border");
      filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
    }
  }

  &--light {
    background-color: fct.map-deep-get(
      var.$about--light,
      "colors",
      "container--bg"
    );

    .about {
      color: fct.map-deep-get(var.$about--light, "colors", "about");
    }

    .presentation {
      color: fct.map-deep-get(var.$about--light, "colors", "presentation");
    }
  }
}
