@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;
@use "../../styles/utils/mixins.scss";

.notify {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 330px;
  height: 100px;
  box-shadow: 0 0 5px
    fct.map-deep-get(var.$notify, "colors", "notify--boxShadow");
  border-radius: 10px;
  overflow: hidden;
  background-color: fct.map-deep-get(var.$notify, "colors", "notify--bg");

  @media screen and (max-width: var.$breakpoint-tablette) {
    width: 320px;
    height: 95px;
    align-self: center;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    width: 300px;
    height: 90px;
  }

  & p {
    flex: 4;
    color: fct.map-deep-get(var.$notify, "colors", "text");
    padding: 5px 5px 0px 5px;
    font-size: fct.map-deep-get(var.$notify, "fontSize", "text--desktop");

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: fct.map-deep-get(var.$notify, "fontSize", "text--tablet");
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      font-size: fct.map-deep-get(var.$notify, "fontSize", "text--mobile");
    }
  }

  .close {
    flex: 1.5;
    align-self: flex-end;
    padding-top: 2px;
    padding-right: 5px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &--error {
      color: fct.map-deep-get(var.$notify, "colors", "close--error");
    }

    &--success {
      color: fct.map-deep-get(var.$notify, "colors", "close--success");
    }
  }

  .bar {
    flex: 1;
    width: 100%;
    animation: SlideLeft 5s forwards;

    &--error {
      background-color: fct.map-deep-get(
        var.$notify,
        "colors",
        "bar--error--bg"
      );
    }

    &--success {
      background-color: fct.map-deep-get(
        var.$notify,
        "colors",
        "bar--success--bg"
      );
    }
  }
}

@keyframes SlideLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
