@use "../../../styles/utils/functions.scss" as fct;
@use "../../../styles/utils/variables.scss" as var;
.projects {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 80% 90%;
  max-height: 600px;
  padding: 100px 200px;

  @media screen and (max-width: 1400px) {
    padding: 100px 100px;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    filter: none;
    max-width: 100%;
    max-height: 700px;
    padding: 100px 50px;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
    max-height: 700px;
  }

  &__title {
    font-size: fct.map-deep-get(var.$projets, "fontSize", "title--desktop");
    font-family: var(--font--instrumentSerif);
    font-weight: 400;
    padding: 0px 0 50px 0px;

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: fct.map-deep-get(var.$projets, "fontSize", "title--tablet");
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      font-size: fct.map-deep-get(var.$projets, "fontSize", "title--mobile");
    }
  }

  &__caroussel {
    display: flex;
    align-items: center;
    border-radius: var.$radius--10;
    max-width: 100%;

    .swiper {
      padding: 2rem;
      @media screen and (max-width: var.$breakpoint-tablette) {
        padding: 2rem 0rem;
      }

      &__slide {
        width: 200px;
        min-width: 200px;
        min-height: 190px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .touch {
    display: none;
    @media screen and (max-width: var.$breakpoint-tablette) {
      display: block;
      text-align: center;
      padding: 10px;
      font-size: fct.map-deep-get(var.$projets, "fontSize", "touch");
    }
  }

  &--dark {
    background-color: fct.map-deep-get(
      var.$projets--dark,
      "colors",
      "projects--bg"
    );

    .projects__title {
      color: fct.map-deep-get(var.$projets--dark, "colors", "title");
    }

    .touch {
      color: fct.map-deep-get(var.$projets--dark, "colors", "touch");
    }
  }

  &--light {
    background-color: fct.map-deep-get(
      var.$projets--light,
      "colors",
      "projects--bg"
    );

    .projects__title {
      color: fct.map-deep-get(var.$projets--light, "colors", "title");
    }

    .touch {
      color: fct.map-deep-get(var.$projets--light, "colors", "touch");
    }
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  font-size: fct.map-deep-get(var.$projets, "fontSize", "error");

  &--dark {
    color: fct.map-deep-get(var.$projets--dark, "colors", "error");
  }

  &--light {
    color: fct.map-deep-get(var.$projets--light, "colors", "error");
  }
}
