@use "./styles/utils/functions.scss" as fct;
@use "./styles/utils/variables.scss" as var;
@use "./styles/utils/mixins.scss" as mix;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%; // 1rem = 10 pixel => 1.4rem = 14px (le nombre *10)
}

a {
  text-decoration: none;
  color: inherit;
}

.light {
  background-color: fct.map-deep-get(
    var.$global--light,
    "colors",
    "background--desktop"
  );
}

.dark {
  background-color: fct.map-deep-get(
    var.$global--dark,
    "colors",
    "background--desktop"
  );
}

@media (prefers-color-scheme: light) {
  body {
    background-color: fct.map-deep-get(
      var.$global--light,
      "colors",
      "background--desktop"
    );
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: fct.map-deep-get(
      var.$global--dark,
      "colors",
      "background--desktop"
    );
  }
}
