@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;

.container {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 50px 0 20px 0;

  @media screen and (max-width: var.$breakpoint-tablette) {
    padding: 50px 0 0 0;
  }

  .button {
    border: none;
    background-color: fct.map-deep-get(
      var.$downloadbutton,
      "colors",
      "button--bg"
    );
    font-size: fct.map-deep-get(var.$downloadbutton, "fontSize", "button");
  }

  .icone {
    font-size: fct.map-deep-get(var.$downloadbutton, "fontSize", "icone");
  }

  &--dark {
    .button {
      color: fct.map-deep-get(var.$downloadbutton--dark, "colors", "button");
    }

    .icone {
      color: fct.map-deep-get(var.$downloadbutton--dark, "colors", "icone");
    }
  }

  &--light {
    .button {
      color: fct.map-deep-get(var.$downloadbutton--light, "colors", "button");
    }

    .icone {
      color: fct.map-deep-get(var.$downloadbutton--light, "colors", "icone");
    }
  }
}
