@use "../../styles/utils/variables.scss" as var;

.banner {
  margin-top: 0px;
  flex: 0.5;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: var.$breakpoint-sup) {
    display: none;
  }

  .logo {
    width: 80px;
    height: 80px;
    z-index: 3;
    margin-bottom: 50px;
    animation: jug 1.5s ease-in-out forwards;
    filter: brightness(1.4);

    @media screen and (max-width: var.$breakpoint-mobile) {
      display: none;
    }

    &--start {
      animation: jug 1.5s ease-in-out forwards;
    }

    & .logoImg {
      border-radius: var.$radius--circle;
      width: 80px;
      height: 80px;
      margin-left: 0px;
    }
  }

  .rain {
    opacity: 0;
    animation: rain 1.5s 1.2s ease-in forwards infinite;
    width: 89px;
    height: 550px;

    & .bannerbg {
      margin-left: 10px;
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  .pot {
    width: 140px;
    height: auto;
    animation: bascule 3.5s 2.3s ease-in-out infinite;

    & .PotImg {
      margin-top: 20px;
      width: 100%;
      height: auto;
    }
  }
}

@keyframes jug {
  0% {
    transform: rotate(0);
  }
  // 80% {
  //   transform: rotate(60deg);
  // }
  100% {
    transform: rotate(40deg);
  }
}

// inAnimation={{ animation: `${styles.rain} ${1.5}s ${600}ms ease-in forwards`

@keyframes rain {
  0% {
    opacity: 0.5;
    transform: translateY(-90px);
  }
  50% {
    opacity: 1;
    filter: brightness(1.4);
  }
  100% {
    opacity: 0.5;
    transform: translateY(200px);
  }
}

@keyframes bascule {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
    filter: brightness(120%);
  }
  100% {
    transform: rotate(10deg);
  }
}
