// Repeated Color
/**************/
$primary-color: #858ae3;
$second-color: #4e148c;
$third-color: #97dffc;
$four-color: #2c0735;
$light-color: white;
$dark-color: black;
$transparent-color: transparent;
$white-color: white;

// FontFamily
/**************/
$archivo: var(--font--archivo);
$instrumentSerif: var(--font--instrumentSerif);
$inter: var(--font--inter);

// global.scss
/**************/
$global--dark: (
  colors: (
    background--desktop: $dark-color,
    color--desktop: $light-color,
  ),
);

$global--light: (
  colors: (
    background--desktop: $light-color,
    color--desktop: $primary-color,
  ),
);

/**************************************************************************************
// Component navBar
/*******************/
$navbar: (
  fontSize: (
    container: 16px,
    list: 17px,
  ),
  fontWeight: (
    container: bold,
  ),
);

$navbar--dark: (
  colors: (
    container: $dark-color,
    container--bg: $primary-color,
    container--filter: $primary-color,
    list__item--before: $light-color,
    burger: $dark-color,
  ),
);

$navbar--light: (
  colors: (
    container: $light-color,
    container--bg: $four-color,
    container--filter: $four-color,
    list__item--before: $third-color,
    burger: $light-color,
  ),
);

/**************************************************************************************
// Component Switch
/******************/

$switch: (
  colors: (
    sunmoon: $dark-color,
  ),
  fontSize: (
    icone--mobile: 14px,
  ),
);

$switch--dark: (
  colors: (
    sunmoon--bg: $light-color,
    sunmoon--icone: rgb(8, 8, 154),
  ),
);

$switch--light: (
  colors: (
    sunmoon--bg: $light-color,
    sunmoon--icone: $four-color,
  ),
);

/**************************************************************************************
// Composant header
/*******************/
$header: (
  colors: (
    button--bg: $second-color,
    button: $light-color,
  ),
  fontSize: (
    profession: 16px,
    title--desktop: 80px,
    title--tablette: 64px,
    button: 20px,
    button-icon: 30px,
  ),
  fontFamily: (
    button: $archivo,
    profession: $archivo,
    title: $instrumentSerif,
  ),
);

$header--dark: (
  colors: (
    header--bg: $dark-color,
    title: $primary-color,
    profession--color: $primary-color,
    profession--border: $primary-color,
    wave: $primary-color,
  ),
);

$header--light: (
  colors: (
    header--bg: $light-color,
    title: $dark-color,
    profession--color: $dark-color,
    profession--border: $dark-color,
    wave: $second-color,
  ),
);

/**************************************************************************************
// Composant About
/*****************/
$about: (
  fontSize: (
    about--desktop: 48px,
    about--tablet: 32px,
    presentation: 20px,
  ),
  fontFamily: (
    about: $instrumentSerif,
    presentation: $archivo,
  ),
);

$about--dark: (
  colors: (
    container--bg: $primary-color,
    about: $dark-color,
    presentation: $second-color,
    presentation--bg: $light-color,
    presentation--border: $dark-color,
  ),
);

$about--light: (
  colors: (
    container--bg: $four-color,
    about: $light-color,
    presentation: $third-color,
  ),
);

/***************************************************************************************/
// Composant Projets
/******************/
$projets: (
  fontSize: (
    title--desktop: 48px,
    title--tablet: 35px,
    title--mobile: 30px,
    touch: 30px,
    error: 25px,
  ),
  fontFamily: (
    title: $instrumentSerif,
  ),
);

$projets--dark: (
  colors: (
    projects--bg: $dark-color,
    title: $primary-color,
    touch: $light-color,
    error: $light-color,
  ),
);

$projets--light: (
  colors: (
    projects--bg: $light-color,
    title: $second-color,
    touch: $second-color,
    error: $primary-color,
  ),
);
/**************************************************************************************
// Component CardProject
/************************/

$cardProject: (
  colors: (
    flip-card--bg: $transparent-color,
    flip-card-inner--bg: $light-color,
    flip-card-front: $dark-color,
    flip-card-back: $light-color,
    description: $dark-color,
    description--bg: $light-color,
    description--borderTop: $dark-color,
    description--borderBottom: $dark-color,
    go-back: rgb(36, 34, 34),
    curve: #ffffff,
  ),
  fontSize: (
    flip-card: 15.5px,
    source--desktop: 30px,
    source--mobile: 32px,
    title--desktop: 25px,
    title--1400: 20px,
    title--mobile: 32px,
    description--desktop: 18px,
    description--1400: 15px,
    description--mobile: 18px,
    technologies--desktop: 30px,
    technologies--tablet: 30px,
    technologies--mobile: 30px,
    go-back: 20px,
  ),
  fontFamily: (
    description: var(--font--inter),
  ),
);

$cardProject--dark: (
  colors: (
    flip-card--border: $light-color,
    flip-card-back--bg: $second-color,
  ),
);

$cardProject--light: (
  colors: (
    flip-card--border: $second-color,
    flip-card-back--bg: $four-color,
  ),
);

/***************************************************************************************/
// Component Loader
/*******************/
$loader: (
  colors: (),
  fontSize: (
    icon: 80px,
  ),
);

$loader--dark: (
  colors: (
    icon: $light-color,
  ),
);

$loader--light: (
  colors: (
    icon: $primary-color,
  ),
);

/***************************************************************************************
// Composant Skills
/*******************/

$skills: (
  fontSize: (
    title--desktop: 48px,
    title--tablet: 35px,
    title--mobile: 30px,
  ),
  fontFamily: (
    title: $instrumentSerif,
  ),
  fontWeight: (
    title: 400,
  ),
);

$skills--dark: (
  colors: (
    container--bg: $primary-color,
    title: $dark-color,
  ),
);

$skills--light: (
  colors: (
    container--bg: $four-color,
    title: $light-color,
  ),
);

/***************************************************************************************/
// Components DownloadButton
/***************************/
$downloadbutton: (
  colors: (
    button--bg: transparent,
  ),
  fontSize: (
    button: 20px,
    icone: 40px,
  ),
);

$downloadbutton--dark: (
  colors: (
    button: $dark-color,
    icone: $dark-color,
  ),
);

$downloadbutton--light: (
  colors: (
    button: $primary-color,
    icone: $primary-color,
  ),
);

/***************************************************************************************
// Components CardSkill
/***********************/

$cardSkill: (
  fontSize: (
    nameTechno--desktop: 18px,
    nameTechno--tablet: 14px,
    nameTechno--mobile: 13px,
    iconTechno--desktop: 55px,
    iconTechno--tablet: 50px,
    iconTechno--mobile: 40px,
    descriptionTechno--tablet: 15px,
    descriptionTechno--mobile: 14px,
    iconArrow: 25px,
  ),
  fontFamily: (
    descriptionTechno: $inter,
  ),
);

$cardSkill--dark: (
  colors: (
    techno--bg: #242424,
    techno--dropShadow: #97dffc,
    chevron: $light-color,
    dividingBorder: $light-color,
    descriptionTechno: $light-color,
    iconArrow: $primary-color,
    iconTechno: $third-color,
    nameTechno: $light-color,
  ),
);

$cardSkill--light: (
  colors: (
    techno--bg: $light-color,
    chevron: $primary-color,
    dividingBorder: $primary-color,
    descriptionTechno: $primary-color,
    iconArrow: rgb(38, 187, 158),
    iconTechno: $primary-color,
    nameTechno: $primary-color,
  ),
);

$html: rgb(211, 100, 60);
$css: rgb(26, 99, 208);
$sass: rgb(170, 80, 139);
$github: rgb(198, 209, 226);
$seo: rgb(200, 111, 169);
$javascript: rgb(230, 212, 8);
$nodejs: rgb(31, 162, 57);
$react: rgb(60, 147, 218);
$typescript: rgb(60, 147, 218);
$mongodb: #228a66;
$nextjs: #64b297;

/**************************************************************************************
// Composant Contact
/*******************/

$contact: (
  colors: (
    send: $dark-color,
    send--bg: #97dffc,
  ),
  fontSize: (
    title--desktop: 48px,
    title--tablet: 35px,
    label--desktop: 20px,
    label--tablet: 18px,
    send--desktop: 20px,
    send--mobile: 16px,
    errors: 16px,
  ),
  fontWeight: (
    title: 400,
  ),
  fontFamily: (
    title: var(--font--instrumentSerif),
    send: var(--font--archivo),
  ),
);

$contact--dark: (
  colors: (
    contact--bg: $dark-color,
    title: $third-color,
    label: #97dffc,
    errors: $light-color,
    input--bg: $light-color,
    elipse: $light-color,
    wave: $primary-color,
  ),
);

$contact--light: (
  colors: (
    contact--bg: $light-color,
    title: $second-color,
    label: $dark-color,
    errors: $dark-color,
    input--bg: #242424,
    elipse: $second-color,
    wave: $second-color,
  ),
);

/**************************************************************************************
// Components Notify
/*******************/

$notify: (
  colors: (
    notify--boxShadow:
      rgba(
        $color: #000000,
        $alpha: 0.4,
      ),
    notify--bg: $light-color,
    text: $dark-color,
    close--error: tomato,
    close--success: green,
    bar--error--bg: tomato,
    bar--success--bg: green,
  ),
  fontSize: (
    text--desktop: 15px,
    text--tablet: 14px,
    text--mobile: 13px,
  ),
);

/***************************************************************************************/
// Page notFound
/***************/
$notfound: (
  fontSize: (
    h2--desktop: 60px,
    paragraph--desktop: 60px,
    icone--desktop: 30px,
    homeLink--desktop: 40px,
  ),
);

$notfound--dark: (
  colors: (
    notfound--desktop: $light-color,
  ),
);

$notfound--light: (
  colors: (
    notfound--desktop: $primary-color,
  ),
);

/***************************************************************************************/
// -- Radius -- //
/****************/
$radius--5: 5px;
$radius--10: 10px;
$radius--15: 15px;
$radius--20: 20px;
$radius--30: 30px;
$radius--circle: 50%;

// -- Breackpoints -- //
/**********************/
$breakpoint-sup: 1350px;
$breakpoint-tablette: 992px;
$breakpoint-mobile: 768px;

// -- Screens Width Size -- //
/****************************/
$maxWidth: 1600px;
$mediumWidth: 992px;
$minWidth: 768px;
