// Repeated Color
/**************/
$primary-color: #13589f;
$light-color: #dddddd;
$dark-color: #000000;
$white-color: white;
$transparent-color: transparent;

// global.scss#DDDDDDwh
/**************/
$global--dark: (
  colors: (
    background--desktop: $dark-color,
    color--desktop: $light-color,
  ),
);

$global--light: (
  colors: (
    background--desktop: $light-color,
    color--desktop: $primary-color,
  ),
);

/**************************************************************************************
// Layout header
/***************/
$header: (
  colors: (
    autotext--background--desktop: transparent,
    autotext-after--background--desktop: transparent,
    autotext-animation--border--start--desktop: transparent,
    autotext-animation--border--end--desktop: rgb(233, 129, 233),
  ),
  fontSize: (
    autotext--desktop: 14px,
    burger--desktop: 40px,
  ),
);

$header--dark: (
  colors: (
    header-color--desktop: $light-color,
    autotext-color--desktop: rgb(233, 129, 233),
    autotext-color--tablette: rgb(233, 129, 233),
    autotext-borderRight--desktop: rgb(49, 38, 79),
    burger--color--mobile: $light_color,
  ),
);

$header--light: (
  colors: (
    autotext-color--desktop: rgb(32, 163, 137),
    autotext-color--tablette: rgb(8, 77, 92),
    autotext-borderRight--desktop: rgb(184, 236, 186),
    burger--color--mobile: $primary_color,
  ),
);

/**************************************************************************************
// Component navBar
/*******************/
$navbar: (
  colors: (
    navbar__item-background--desktop: transparent,
  ),
  fontSize: (
    navbar--desktop: 16px,
    navbar__item--tablette: 16px,
    navbar__item--mobile: 25px,
  ),
);

$navbar--dark: (
  colors: (
    navbar__item-before--color--desktop: rgb(255, 255, 255),
    navbar__item-before--text-shadow--desktop: rgb(255, 255, 255),
    navbar__item-hover-before--color--desktop: rgb(255, 255, 255),
    navbar__item-background--mobile: $primary-color,
    navbar__item-border--mobile: $dark-color,
    links--desktop: $light-color,
  ),
);

$navbar--light: (
  colors: (
    navbar__item-before--color--desktop: rgb(32, 163, 137),
    navbar__item-hover-before--color--desktop: rgb(160, 85, 149),
    navbar__item-background--mobile: $primary-color,
    navbar__item-border--mobile: $primary-color,
    links--desktop: $primary-color,
    links--mobile: $light-color,
  ),
);

/**************************************************************************************
// Component Switch
/******************/

$switch: (
  colors: (
    sunmoon-before--background--desktop: rgb(7, 33, 110),
  ),
  fontSize: (
    slider-icone--mobile: 14px,
  ),
);

$switch--dark: (
  colors: (
    sunmoon--icone--color--desktop: rgb(8, 8, 154),
    sunmoon--background--desktop: $light-color,
  ),
);

$switch--light: (
  colors: (
    sunmoon--background--desktop: #1c76d3,
    sunmoon-before--background--desktop: #fff,
    sunmoon--icone--color--desktop: white,
  ),
);

/**************************************************************************************
// Component ThumbailProject
/***************************/

$thumbailproject: (
  colors: (
    container--color--desktop: $primary-color,
    container--background--desktop: rgb(56, 82, 117),
    container__sources--color--desktop: white,
    container__description--color--desktop: $light-color,
    container__technologies--color--desktop: $light-color,
  ),
  fontSize: (
    container--desktop: 16px,
    container--tablette: 15px,
    container--mobile: 14px,
    container_sources--desktop: 30px,
    container_sources--tablette: 28px,
    container_sources--mobile: 26px,
    container_title--desktop: 30px,
    container_title--tablette: 28px,
    container_title--mobile: 26px,
  ),
  imgSize: (
    container_icones-widthHeight--desktop: 45px,
    container_icones-widthHeight--tablette: 40px,
    container_icones-widthHeight--mobile: 30px,
  ),
);

$thumbailproject--dark: (
  colors: (
    container__title--color--desktop: rgba(35, 14, 77, 0.773)
      // rgba(62, 231, 40, 0.773),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  ),
);

$thumbailproject--light: (
  colors: (
    container__title--color--desktop: rgba(35, 14, 77, 0.773)
      // rgb(38, 187, 158),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  ),
);

/**************************************************************************************
// Components Slider
/*******************/

$slider: (
  fontSize: (
    slider__chevron-icone--desktop: 35px,
    slider__chevron-icone--tablette: 30px,
    slider__chevron-icone--mobile: 30px,
    scroll--desktop: 40.5px,
    scroll--mobile: 25px,
  ),
  absolutPosition: (
    slider__chevron__prevANDnext--leftANDright--desktop: -90px,
    slider__chevron__prevANDnext--leftANDright--tablette: -85px,
    slider__chevron__prevANDnext--leftANDright--mobile: -40px,
    scroll--top--desktop: 305px,
    scroll--left--desktop: 220px,
    scroll--top--tablette: 290px,
    scroll--left--tablette: 180px,
    scroll--top--mobile: 338px,
    scroll--left--mobile: 87px,
    device--top--desktop: -33px,
    device--left--desktop: -14px,
    device--top--tablette: -10px,
    device--left--tablette: -34px,
    device--top--mobile: -49px,
    device--left--mobile: -5px,
  ),
  imgSize: (
    img_cover_slider--width--desktop: 460px,
    img_cover_slider--height--desktop: 233px,
    img_cover_slider--width--tablette: 388px,
    img_cover_slider--height--tablette: 280px,
    img_cover_slider--width--mobile: 200px,
    img_cover_slider--height--mobile: 332px,
    device--width--desktop: 490px,
    device--height--desktop: 338px,
    device--width--tablette: 457px,
    device--height--tablette: 295px,
    device--width--mobile: 209px,
    device--height--mobile: 430px,
  ),
);

$slider--dark: (
  colors: (
    slider__chevron-icone--color--desktop: $white-color,
    slider__chevron-icone-active--color--desktop: black,
  ),
);

$slider--light: (
  colors: (
    slider__chevron-icone--color--desktop: rgb(21, 56, 81),
    slider__chevron-icone-active--color--desktop: $primary-color,
    scroll--color--mobile: white,
  ),
);

/**************************************************************************************
// page Contact
/***************/

$contact: (
  colors: (
    infos--background--desktop: $transparent-color,
    infos__item--background--desktop: $transparent-color,
    reseaux--background--desktop: $transparent-color,
    form__contact--background--desktop: rgb(56, 82, 117),
    input--background--desktop: #242424,
    input--border--desktop: grey,
    label--color--desktop: #97dffc,
    errors--color--desktop: white,
    send--background--desktop: #97dffc,
    send--color--desktop: $dark-color,
    send--border--desktop: $white-color,
  ),
  fontSize: (
    container-formulaire--tablette: 15px,
    container-formulaire--mobile: 14px,
    boxinfoscontact--desktop: 30px,
    boxinfoscontact--tablette: 25px,
    boxinfoscontact--mobile: 20px,
    infos__item--desktop: 25px,
    infos__item--tablette: 20px,
    infos__item--mobile: 15px,
    reseaux--desktop: 30px,
    linkedinGithub--desktop: 30px,
    linkedinGithub--tablette: 25px,
    linkedinGithub--mobile: 18px,
    linkedinGithub--icone--desktop: 30px,
    linkedinGithub--icone--tablette: 25px,
    linkedinGithub--icone--mobile: 25px,
    errors--desktop: 15px,
  ),
);

$contact--dark: (
  colors: (
    boxinfoscontact--color--desktop: white,
    reseaux__item--backgroundLinearGradient--desktop:
      linear-gradient(
        90deg,
        rgba(19, 88, 159, 0.6671918767507004) 35%,
        rgba(77, 72, 72, 1) 100%
      ),
  ),
);

$contact--light: (
  colors: (
    infos__item--color--desktop: #13589f,
    reseaux__item--color--desktop: white,
    reseaux__item--backgroundLinearGradient--desktop:
      linear-gradient(
        90deg,
        rgba(19, 88, 159, 0.6671918767507004) 35%,
        rgba(36, 36, 36, 1) 100%
      ),
  ),
);

/**************************************************************************************
// Components Notify
/*******************/
// -- All mode

$notify: (
  colors: (
    notify--boxShadow--desktop:
      rgba(
        $color: #000000,
        $alpha: 0.4,
      ),
    notify--background--desktop: white,
    notifyParagraphe--color--desktop: $dark-color,
    close--error--color--desktop: tomato,
    close--success--color--desktop: green,
    bar--error--background--desktop: tomato,
    bar--success--background--desktop: green,
  ),
  fontSize: (
    notifyParagraphe--desktop: 15px,
    notifyParagraphe--tablette: 14px,
    notifyParagraphe--mobile: 13px,
  ),
);

/***************************************************************************************
// page Compétence
/******************/

$skills--dark: (
  colors: (
    container-color--desktop: $light-color,
    wave--fill--desktop: #141212,
  ),
);

$skills--light: (
  colors: (
    container--color--desktop: $dark-color,
    wave--fill--desktop: #ffffff,
  ),
);

/***************************************************************************************
// Components CardSkill
/***************************/

$cardSkill: (
  fontSize: (
    technoSkill--tablette: 15px,
    technoSkill--mobile: 14px,
    container__icone--nthChild-after--desktop: 18px,
    container__icone--nthChild-after--tablette: 14px,
    container__icone--nthChild-after--mobile: 13px,
    icone--desktop: 55px,
    icone--tablette: 50px,
    icone--mobile: 40px,
    technoSkill--paragraph-before--desktop: 25px,
  ),
);

$cardSkill--dark: (
  colors: (
    technoSkill--color--desktop: $light-color,
    technoSkill-paragraph-firstOfType--borderTop-desktop: white,
    technoSkill-paragraph-before--color--desktop: #858ae3,
    container__icone-after-color-desktop: white,
  ),
);

$cardSkill--light: (
  colors: (
    technoSkill--background--desktop: white,
    technoSkill--color--desktop: $primary-color,
    technoSkill-paragraph-firstOfType--borderTop-desktop: $primary-color,
    technoSkill-paragraph-before--color--desktop: rgb(38, 187, 158),
    container__icone-nthChild--color--desktop: $primary-color,
    container__icone-after--color--desktop: $primary-color,
  ),
);

$html: rgb(211, 100, 60);
$css: rgb(26, 99, 208);
$sass: rgb(170, 80, 139);
$github: rgb(198, 209, 226);
$seo: rgb(200, 111, 169);
$javascript: rgb(230, 212, 8);
$nodejs: rgb(31, 162, 57);
$react: rgb(60, 147, 218);
$typescript: rgb(60, 147, 218);
$mongodb: #228a66;
$nextjs: #64b297;

/***************************************************************************************/
// Components DownloadButton
/***************************/
$downloadbutton: (
  colors: (
    button--background--desktop: transparent,
  ),
  fontSize: (
    button--desktop: 20px,
    icone--desktop: 40px,
  ),
);

$downloadbutton--dark: (
  colors: (
    button--color--desktop: white,
    icone--color--desktop: white,
  ),
);

$downloadbutton--light: (
  colors: (
    button--color--desktop: $primary-color,
    icone--color--desktop: $primary-color,
  ),
);

/***************************************************************************************/
// Page notFound
/***************/
$notfound: (
  fontSize: (
    h2--desktop: 60px,
    paragraph--desktop: 60px,
    icone--desktop: 30px,
    homeLink--desktop: 40px,
  ),
);

$notfound--dark: (
  colors: (
    notfound--desktop: $light-color,
  ),
);

$notfound--light: (
  colors: (
    notfound--desktop: $primary-color,
  ),
);

/***************************************************************************************/
// Page Projets
/***************/
$projets: (
  fontSize: (
    error--desktop: 20px,
  ),
);

$projets--dark: (
  colors: (
    error--desktop: $light-color,
  ),
);

$projets--light: (
  colors: (
    error--desktop: $primary-color,
  ),
);

/***************************************************************************************/
// Component Loader
/*******************/
$loader: (
  colors: (
    anim--color--desktop: rgb(255, 255, 255),
    number-nthChild2--color--desktop: rgb(255, 255, 255),
    secondeanim--desktop: rgb(30, 117, 204),
  ),
  fontSize: (
    anim--desktop: 10px,
    number-nthChild2--desktop: 50px,
    number-nthChild2--tablette: 15px,
    number-nthChild2--mobile: 10px,
    secondeanim--desktop: 24px,
  ),
);

/***************************************************************************************/
// Page Home
/***********/
$home: (
  colors: (
    secondeanim--desktop: rgb(30, 117, 204),
  ),
  fontSize: (
    container--desktop: 20px,
    h1--tablette: 40px,
    h1--mobile: 30px,
    paragraph--tablette: 20px,
    paragraph--mobile: 17px,
  ),
);

$home--dark: (
  colors: (
    container--color--desktop: $light-color,
  ),
);

$home--light: (
  colors: (
    container--color--desktop: $primary-color,
  ),
);

/***************************************************************************************/

// -- Fonts -- //
/***************/
$container__icone-nthChild-after-fontFamily-desktop--thumbailskills: var(
    --font--karla
  ),
  sans-serif;
$text-font: var(--font--karla), sans-serif;
$container__title-fontFamily-desktop--thumbail: var(--font--kalam), cursive,
  sans-serif;

// -- Radius -- //
/****************/
$radius--5: 5px;
$radius--10: 10px;
$radius--15: 15px;
$radius--20: 20px;
$radius--30: 30px;
$radius--circle: 50%;

// -- Breackpoints -- //
/**********************/
$breakpoint-sup: 1350px;
$breakpoint-tablette: 992px;
$breakpoint-mobile: 768px;

// -- Screens Width Size -- //
/****************************/
$maxWidth: 1600px;
$mediumWidth: 992px;
$minWidth: 768px;
