@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;

.container {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100dvw;
  z-index: 4;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: min-height 0.8s ease-in-out;

  @media screen and (max-width: var.$breakpoint-tablette) {
    padding-top: 1rem;
    align-items: self-start;
  }

  .list {
    flex: 2;
    display: flex;
    justify-content: center;
    opacity: 1;

    @media screen and (max-width: var.$breakpoint-tablette) {
      flex: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.8s 1s ease;
      transform: translateY(8rem);
    }

    &__item {
      padding: 0 2rem;
      font-size: fct.map-deep-get(var.$navbar, "fontSize", "link");
      font-family: fct.map-deep-get(var.$navbar, "fontFamily", "link");
      font-weight: fct.map-deep-get(var.$navbar, "fontWeight", "link");

      @media screen and (max-width: var.$breakpoint-tablette) {
        padding: 0.5rem 0;
      }

      &:before {
        content: "\269D";
        margin-right: 1rem;
        font-size: 1.9rem;
      }

      &:hover {
        animation: wobble-horizontal 1s ease-in-out 1;
        transform: perspective(0.1rem) translateZ(0);
      }
    }
  }

  .burger {
    display: none;
    font-size: 3.5rem;
    padding: 0.5rem 0;

    @media screen and (max-width: var.$breakpoint-tablette) {
      display: block;
    }
  }

  &--dark {
    color: fct.map-deep-get(var.$navbar--dark, "colors", "container");
    background-color: fct.map-deep-get(
      var.$navbar--dark,
      "colors",
      "container--bg"
    );
    filter: drop-shadow(
      0 0.3rem 0.3rem
        fct.map-deep-get(var.$navbar--dark, "colors", "container--filter")
    );

    .list {
      &__item {
        color: fct.map-deep-get(var.$navbar--light, "colors", "link");
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        &:before {
          color: fct.map-deep-get(var.$navbar--dark, "colors", "link--before");
          text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0);
        }
      }
    }

    @media screen and (max-width: var.$breakpoint-tablette) {
      color: fct.map-deep-get(var.$navbar--dark, "colors", "burger");
    }
  }

  &--light {
    color: fct.map-deep-get(var.$navbar--light, "colors", "container");
    background-color: fct.map-deep-get(
      var.$navbar--light,
      "colors",
      "container--bg"
    );
    filter: drop-shadow(
      0 0.3rem 0.3rem
        fct.map-deep-get(var.$navbar--light, "colors", "container--filter")
    );

    .list {
      &__item {
        color: fct.map-deep-get(var.$navbar--light, "colors", "link");
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        &:before {
          color: fct.map-deep-get(var.$navbar--light, "colors", "link--before");
          text-shadow: 0.1rem 0rem 0.1rem rgb(255, 255, 255);
        }
      }
    }

    @media screen and (max-width: var.$breakpoint-tablette) {
      color: fct.map-deep-get(var.$navbar--light, "colors", "burger");
    }
  }
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(0.8rem);
  }

  33.3% {
    transform: translateX(-0.6rem);
  }

  49.95% {
    transform: translateX(0.4rem);
  }

  66.6% {
    transform: translateX(-0.2rem);
  }

  83.25% {
    transform: translateX(0.1rem);
  }

  100% {
    transform: translateX(0);
  }
}
